body, html
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:white;
}

navbar
{
    width:100%;
    height:15%;
    background-color:#580818;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    overflow:hidden;
}

navbar img
{
    width:auto;
    height:88%;
    display:block;
    margin:0 1vw 0 0;
    padding:0;
}

navbar p
{
    display:block;
    color:white;
    font-family:"Bahnschrift", "Courier New", Courier, monospace;
    font-weight:lighter;
    font-stretch:condensed;
    font-size:2.5vh;
}

span
{
    font-weight:bold;
}